<!-- Main page container -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>New User</h1>
			<%= simple_form_for(:user, :html => {:class => 'form-horizontal'}) do |f| %>
				<%= f.input :username %>
				<%= f.input :email %>
				<%= f.input :first, :label => "First Name" %>
				<%= f.input :last, :label => "Last Name" %>
				<%= f.button :submit %>
			<% end %>
		</div>
	</div>
</div>